* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    padding: 25px;
}

header, main, footer {
    max-width: 400 px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid rgb(0, 15, 24);
    border-radius: 50px 50px 50px 50px;
    padding: .5rem;
    background-color: rgb(79, 148, 195);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 2rem;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 50px 50px 50px 50px;
}

h1 {
    margin-left: 100px;
}

main {
    padding-left: 50px;
}

footer {
    font-size: 20px;
    justify-items: center;
    align-items: center;
    margin: 1rem auto;
    border: 1px solid rgb(0, 15, 24);
    border-radius: 50px 50px 50px 50px;
    padding: .5rem;
    background-color: rgb(79, 148, 195);
    display: grid;
}