@media only screen and (min-width: 60em) {

    main{
        grid-template-columns: 1fr 3fr 1fr;
        margin: 10px;
    }

    nav {
        margin-top: .5rem;
    }

    nav button {
        display: none;
    }
    
    nav ul {
        display: flex;
        border-radius: 10px;
    }

    nav ul li {
        border: none;
    }

    .social img {
        float: unset;
        width: unset;  
    }

    .social {
        margin: 0 auto;
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #eventInfo {
        padding-top: 1rem;
    }
    
#hero {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-bottom: .5rem;
}

.heroName p {
    font-size: 4vw;
    font-weight: 400;
}

.spot:nth-child(3){
    display: grid;
}

#spotlight {

    display: grid;
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 20px;
}

#weather {
    grid-column: 1/2;
    grid-row: 2;
    margin-left: .5rem;
}

#join {
    grid-column: 1;
    grid-row: 3/4;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#news {
    grid-column: 2;
    grid-row: 3/4;
    margin-bottom: .5rem;
}

}