@media only screen and (min-width: 37.5em) {

    nav {
        margin-top: unset;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social {
        max-width: max-content;
    }
    #hero, #news, #event, #weather, #join {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
#hero {
    grid-column: 1/4;
    grid-row: 1;
}

#news {
    grid-column: 1/4;
    grid-row: 2;
 }

#spotlight {
    flex-direction: unset;
    grid-column: 1/4;
    grid-row: 3;
}

#join {
    display: grid;
    grid-column: 1/4;
    grid-row: 4;
    margin-top: 0;
}

#event {
    grid-column: 1/3;
    grid-row: 5;
    margin-bottom: .5rem;
}

#eventInfo {
    padding: 25px 0 0 0;
}

#eventInfo p {
    padding: 15px;
    font-size: 1.2rem;
}

#eventInfo #eventName  {
    font-size: 1.6rem;
    padding-bottom: 15px;
}

#weather {
    grid-column: 3/4;
    grid-row: 5;
    margin-bottom: .5rem;
    margin-left: 0;
}

#weatherBreak h4 {
    margin: 0 auto;
    text-align: left;
    font-size: 1.1rem;
}

#weatherGrid img {
    max-width: 75%;
    text-align: center;
}

#weather1, #weather2 {
    padding: 5px;
}

#weather1 h4 {
    font-size: 1.9rem;
}

#weather2 p, h4 {
    font-size: .9rem;
}

/**************DISCOVER PAGE****************/

.discover img {
    filter: blur(0em);
    transition: filter 2s;
    border: none;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.photo-gallery {
    width: 100%;
}

.photo-gallery h3{
    border-radius: 10px;
}

#zoo, #library, #sesqui, #capital, #archives {
    overflow: hidden;
}

#zoo img:hover, #sesqui img:hover, #archives img:hover {
    filter: drop-shadow(5px 5px 5px #114B5F);
}

#zoo p, #sesqui p, #archives p {
    text-align: left;
    vertical-align: middle;
    padding: 20% 0;
}

#zoo img, #sesqui img, #archives img {
    width: 50vw;
    margin: 15px;
    float: left;    
}

#library img:hover, #capital img:hover {
    filter: drop-shadow(-5px 5px 5px #114B5F);
}

#library p, #capital p {
    text-align: right;
    vertical-align: middle;
    padding: 20% 0;
}

#library img, #capital img {
    width: 50vw;
    margin: 15px;
    float: right;
}

.demographics section {
    min-height: 480px;
}

/***********JOIN PAGE*************/

main.join {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    color: #114B5F;
}

.join h1 {
    grid-column: span 2;
    text-align: center;
    font-size: 2rem;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    vertical-align: middle;
}

form input.submitBtn {
    display: grid;
    grid-column: span 2;
}

.membership-levels {
    margin-top: 50px;
}
/*******************directory***********/
.list section img {
    display: block;
    max-width: 75px;
}

/************contact****************/
main.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    color: #114B5F;
}

.contact h1 {
    grid-column: span 2;
    text-align: center;
    font-size: 2rem;
}

.contact div.board {
    grid-column: span 2;
    width: 98%;
}
.contact div.boardcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-column: span 2;
}

.contact form fieldset {
    margin-top: .5rem;
}

.contact div.operationHours{
    padding-top: 2rem;
    margin-bottom: unset;
}
}
/****************FOOTER*******************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer img {
    grid-column: 1;
    grid-row: 1;
    width: 100px;
}

footer #contact p {
    padding: 0;
}

footer #contact p:nth-child(3){
    padding-top: 15px;
}

footer div #contact {
    grid-row: 1;
    grid-column: 2;
}

footer #location {
    text-decoration: none;
}

footer #last {
    grid-column: span 3;
}

