/*
:root {
    --primary-color: #E8EBED; Grey;
    --background-color: #98A5AE; Dark Grey;
    --secondary-color: #114B5F; Blue;
    --accent1-color: #15795B; Green;
    --accent2-color: #710928; Red;
    --accent3-color: #53131E; dark red;
    --accent4-color: #F4F5F6; lighter grey;
}

font-family: 'Sansita', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background-color: #98A5AE;
}


header{
    display: grid;
    align-items: center;
    padding: 10px;
    color: #114B5F;
    border: 1px solid #114B5F;
    background-color: #E8EBED;
}

header {
    grid-template-columns: 90px 1fr 1fr 1fr;
    border-radius: 0 0 10px 10px;
}

header, main, footer {
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    color: #114B5F;
    font-family: 'Sansita', sans-serif;
    text-shadow: 3px 3px 5px white;
}

h2 {
    font-size: 1.5rem;
    padding: 8px;
    color: #E8EBED;
    background-color: #15795B;
    font-family: 'Sansita', sans-serif;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    box-shadow: black 0 0 10px;
    align-items: center;
}

h3 {
    font-size: 1rem;

    color: #E8EBED;
    background-color: #710928;
    font-family: 'Sansita', sans-serif;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #114B5F;
    margin: 0 1rem;
    padding: .5rem;
    font-size: 1rem;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;

}

section {
    box-shadow: 3px 3px 5px #114B5F;
}

/* banner*/

#banner {
    display: none;
    padding: 1rem;
    color: #E8EBED;
    background-color: #710928;
    text-align: center;
    width: 95%;
    border-radius: 10px;
}

#banner p {
    min-height: 30px;
    padding: 10px;
}

#banner button {
    display: inline-block;
    background-color: #710928;
    color: #E8EBED;
    border: 3px solid #E8EBED;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

/* header */
.logo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 1rem;
}

.logo img {
    border-radius: 10px;
    margin: 5px;
    width: 70px;
    height: 70px;
}

.name {
    display: block;
    text-align: left;
    padding-left: 5px;
    grid-column: 2;
    margin-left: 10px;
}

#header-span {
    display: block;
    font-size: .8rem;
}

.social img {
    float: right;
    width: 50%;
    padding: 3px;
    min-width: 45px;
    border-radius: 10px;
}
.social {
    grid-column: 3;
    max-width: min-content;
}

/* Navigation header*/

nav button {
    min-width: 48px;
    min-height: 70px;
    padding: 10px;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #E8EBED;
}

nav {
    background-color: #114B5F;
    border-radius: 10px;
    margin-top: 1rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 10;
}

button:hover {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav ul li {
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav ul li a {
    display: block;
    color: #E8EBED;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.active {
    background-color: #710928;
    color: #E8EBED;
}

nav ul li a:hover {
    background-color: #15795B;
}

nav ul {
    display: none;
    z-index: 10;
}

nav ul.open {
    display: block;
    width: 250px;
}

#hamButton span:nth-child(1) {
    display: block;
}

#hamButton span:nth-child(2) {
    display: none;
}

#hamButton span:nth-child(3) {
    display: none;
}

#hamButton.open span:nth-child(1) {
    display: none;
}

#hamButton.open span:nth-child(2) {
    display: block;
    padding-left: 20px;
}

#hamButton.open span:nth-child(3) {
    display: inline-block;
    border: 1px solid #E8EBED;
}

/* End of Nav*/

.currentDate {
    grid-column: 1/5;
    text-align: center;
    background-color: #114B5F;
    color: #E8EBED;
    padding: 10px;
    margin: 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


/******************** Main */
main {
    display: grid;
    grid-template-columns: 1fr;
}

main section {
    margin: 1rem;
    border: 1px solid #114B5F;
    padding: 1rem; 
    background-color: #E8EBED; 
    box-shadow: none;  
}

main p {
    padding: 10px;
}


/***********************Boxes*/

#hero, #news, #event, #weather, #join {
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem;
    background-color: #E8EBED;
    border: 1px solid #114B5F;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #114B5F;
}

#hero {
     grid-row: 1;
     position: relative;
     z-index: 1;
}

.heroPhoto img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

.heroName {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10px;
    left: 10px;
    padding: 5px;
}

.heroName h5 {
    border-radius: 10px;
    color: #710928;
    text-shadow: 3px 3px 5px darkslategray, 0 0 1rem white, 0 0 .2em white;
    font-family: 'Sansita', sans-serif;
    font-size: 6vw;
    font-weight: 700;
}

.heroButton a {
    position: absolute;
    border: none;
    background-color: #710928;
    color: #E8EBED;
    font-family: 'Sansita', sans-serif;
    font-size: 1.5rem;
    bottom: 20px;
    right: 20px;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #114B5F;
    text-decoration: none;
}

#event {
    grid-row: 2;
    text-align: center;
}

#eventInfo {
    border: none;
    padding: .5rem;
    box-shadow: none;
    background: transparent;
}

#eventInfo p {
    padding: 5px;
    font-size: .9rem;
}

#eventInfo #eventName {
    font-size: 1rem;
    padding-bottom: 15px;
}

#eventInfo p:nth-child(2) {
    display: none;
}

#weather {
    grid-row: 3;
}

#weatherGrid {
    box-shadow: none;
}

#weatherGrid img {
    width: 75px;
    text-align: center;
}

#weather1, #weather2 {
    display: grid;
    background: transparent;
    grid-template-columns: 1fr 1fr;
    border: none;
    padding: 5px;
    margin: 0 auto;
    align-items: center;
    box-shadow: none;
}

#weather1 p#caption {
    font-size: .8rem;
    text-align: center;
    padding: 0px 5px;
}

#weather-temp {
    font-size: 1.5rem;
}

#weatherBreak {
    border: none;
    box-shadow: none;
    padding: 5px;
    margin: 0 auto;
}

#weather2 p {
    padding: 5px;
}

#news {
    grid-row: 4;
}

#join {
    display: none;
}

#join p {
    padding-top: 10px;
}

#spotlight {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color: #E8EBED;
    border: 1px solid #114B5F;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #114B5F;
}

#spotlight .spot {
    width: 100%;
    background-color: #E8EBED;
    border: 1px solid #114B5F;
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #114B5F;
}

.spot:nth-child(3){
    display: none;
}

#spotlight img {
    border-radius: 10px;
    background: transparent;
    margin: 10px auto;
    width: 80%;
    box-shadow: 3px 3px 5px #114B5F;
}

/********************** Discover Page****/

.discover h1 {
    font-size: 2rem;
}

.demographics {
    padding: 1rem;
    background-color: #E8EBED;
    border: 1px solid #114B5F;
    margin: 10px 0px;
}

.info {
    border: none;
}


.demographics p {
    text-align: left;
}

.discover h5 {
    text-align: left;
    border-radius: 10px;
    color: #710928;
    font-family: 'Sansita', sans-serif;
    font-size: 1.3rem;
}

.discover h3 {
    width: 100%;
    margin: 0 auto;
}


/************images*/
#zoo, #library, #sesqui, #capital, #archives {
    padding: 1rem;
    background-color: #E8EBED;
    border: 1px solid #114B5F;
    margin: 10px 0px;
}

.photo-gallery h3 {
    border-radius: 10px 10px 0px 0px;
}

.photo-gallery section {
    border-radius: 10px;
}
.discover {
    display: block;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin: 10px 0px;
}
  
.discover img[data-src] {
    filter: blur(0.3em);
}

.discover img {
    filter: blur(0em);
    transition: filter 2s;
    box-shadow: 3px 3px 5px #114B5F;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}


/*************JOIN****************/

main.join {
    display: block;
    padding: 0 2%;
    min-height: 20rem;
}

.join h1 {
    font-size: 2rem;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

form fieldset {
    margin: 2rem 0;
    background-color: #E8EBED;
    border-radius: 10px;
    padding: 0.35em 0.75em 0.625em;
    box-shadow: 3px 3px 5px #114B5F;
    border: none;
}

form legend {
    background-color: #710928;
    box-shadow: 3px 3px 5px #114B5F;
    color: #E8EBED;
    margin: 0 1rem;
    padding: .5rem;
    border-radius: 10px;
    font-family: 'Sansita', sans-serif;
    font-size: 1rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #114B5F;
    font-size: .8rem;
}

form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #114B5F;
    border-radius: 3px;
    padding: .5rem;
    color: #114B5F;
    width: 100%;
    max-width: 20rem;
    background-color: #E8EBED;
}

form label.radio {
    display: block;
    padding: .5rem 0;
    color: #114B5F;
}

form input.submitBtn {
    border: none;
    background-color: #114B5F;
    box-shadow: 3px 3px 5px black;
    color: #E8EBED;
    border-radius: 15px;
    padding: 1rem;
    width: 96%;
    margin: 0 0 2rem 2%;
}

form label.top input:required {
    border-left: 5px solid #710928;
}

form label.top input:required:valid {
    border-left: 5px solid #15795B;
}

.membership-levels {
    display: block;
    padding: .5rem;
    width: 100%;
    background-color: #E8EBED;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #114B5F;
    margin-bottom: 1rem;
}

.membership-levels div:first-child {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.membership-levels div {
    padding: .5rem;
    border: 1px solid #114B5F;
    border-radius: 10px;
    margin-bottom: 3rem;
    box-shadow: 3px 3px 5px #114B5F;
    background-color: #E8EBED;
}

.membership-levels div:last-child {
    margin-bottom: .5rem;
}

.membership-levels p {
    margin-left: 2rem;
    padding: 10px;
}

.membership-levels h3 {
    margin: -1.5rem .5rem 0 1rem;
    width: fit-content;
    font-weight: 400;
}

.np p:nth-child(4){
    font-size: .7rem;
    padding: 10px 10px 0 10px;
}

.triangle {
    color: #114B5F;
}

.triangle2 {
    color: #114B5F;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    vertical-align: middle;
}

/**************THANK YOU****************/

.thankyou {
    display: block;
} 

.thankyou h1 {
    text-align: center;
}

.thankyou p {
    text-align: center;
}

/********************************DIRECTORY****************************/

.directory .view {
    font-size: .9rem;
    padding: 3px;
    text-align: center;
    width: max-content;
    margin-bottom: 2rem;
    border: 2px solid darkgrey;
    box-shadow: 3px 3px 5px #114B5F;
    border-radius: 10px;
    background-color: #E8EBED;
}

.directory .view button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #114B5F;
    box-shadow: 3px 3px 5px black;
    color: #E8EBED;
    box-shadow: 3px 3px 5px #114B5F;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.directory {
    max-width: 1480px;
    padding: 1rem;
    display: block;
}


.directory h1{
    font-size: 2rem;
    padding: 15px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
}

.directory article {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border: 2px solid darkgrey;
    margin: 10px auto;
    box-shadow: 3px 3px 5px #114B5F;
}

.directory h3 {
    margin: -1.5rem .5rem 0 1rem;
    width: fit-content;
    font-weight: 400;
}

.directory p {
    margin: 0 0 0 25px;
    text-align: left;
}

.directory p:nth-child(3){
    font-size: 1.5rem;
    text-align: center;
}

.directory img {
    width: 80%;
    background-color: white;
    display: block;
    margin: 15px auto 15px auto;
    filter: blur(0em);
    transition: filter 2s;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.list section {
	flex-direction: row;
	justify-content: left;
    width: 95%;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; 
}

.directory .list p, .directory .list h3, .directory .list a {
    font-size: .7rem;
    margin: 0 auto;
    padding: .5rem;
}

/********************************CONTACT PAGE***************/

main.contact {
    display: block;
    padding: 0 2%;
    min-height: 20rem;
}

.contact h1 {
    font-size: 2rem;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

form label.top textarea:required {
    border-left: 5px solid #710928;
}

form label.top textarea:required:valid {
    border-left: 5px solid #15795B;
}

.contact div {
    padding: .5rem;
    border: 1px solid #114B5F;
    border-radius: 10px;
    margin-bottom: 3rem;
    box-shadow: 3px 3px 5px #114B5F;
    background-color: #E8EBED;
    text-align: center;
}

.contact h3 {
    margin: -1.5rem .5rem 0 1rem;
    width: fit-content;
    font-weight: 400;
}

.contact div.boardcards, .contact div.pres, .contact div.vp, .contact div.tres, .contact div.sec {
    border: none;
    box-shadow: none;
    margin-bottom: .5rem;
}

.contact div.boardcards {
    display: block;
    border: none;
    box-shadow: none;
    width: 100%;
    background: transparent;
}

.contact div.boardcards p {
    padding: 3px;
}

.contact div.boardcards img {
    box-shadow: 3px 3px 5px #114B5F;
    border-radius: 10px;
}

.contact .bodname {
    font-weight: bold;
    text-align: center;
}

.contact .title {
    font-size: .8rem;
}

.contact .mail {
    font-size: .8rem;
}

.contact .boardCards {
    border: none;
}

.contact img {
    height: 100px;
    width: auto;
}
/******************* footer*/

footer {
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: #114B5F;
    border: 1px solid #114B5F;
    background-color: #E8EBED;
}

footer img {
    width: 100px;
    border: 1px solid #114B5F;
    border-radius: 10px;
    margin: 1rem;
}

footer #contact p {
    padding-top: 10px;
}

footer #address p {
    padding-bottom: 10px;
}

footer #location {
    text-decoration: none;
}

#footer-span {
    display: block;
    font-family: 'Sansita', sans-serif;
    font-size: 1.5rem;
}