@media only screen and (min-width: 60em) {
    #home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    main nav, main #warning, .intro {
    grid-column: span 4;
    width: 100%;
    }

    nav button {
        display: none;
    }
        
    nav ul {
        display: flex;
        width: 100%;
    }

    nav ul li{
        width: 100%;
    }

    #temple-summary {
        grid-column: span 2;
    }

    #temple-summary h4, #temple-summary p {
        width:75%;
    }

    .spotlight {
        display: block;
    }

    #weatherGrid {
        display: block;
    }

    form {
        width: 1000px;
    }

    .serviceGrid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1500px;
        border: 1px solid var(--accent1);
    }
    
    .picSect {
        display: none;
    }
    
    .serviceGrid picture.single {
        display: block;
    }

    .serviceList h4, .amenitiesList h4, .intro h4 {
        max-width: 50%;
    }

    .social {
        display: block;
    }
}