:root {
    --back: #FFFFFF; /*white*/
    --font: #01161E; /*Rich Black FOGRA 29*/
    --accent1: #124559; /*Midnight Green Eagle Green*/
    --accent2: #EDE2AB; /*Medium Champagne*/
    --accent3: #DAE3E7; /*Gainsboro*/
    --warning: #FF7F11; /*Amber SAE ECE*/
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

footer, header {
    background-color: var(--accent1);
    text-align: center;
    align-items: center;
}

header div, footer div {
    margin: 0;
}

body {
    background-color: var(--accent3);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--font);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--font);
    padding: 10px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: var(--back);
    /*background-color: var(--accent2);*/
    text-shadow: 3px 3px 5px var(--font);
    font-weight: 600;
    margin: 0 auto;
}

h2{
    font-family: 'Cookie', cursive;
    font-size: 2rem;
    color: var(--font);
    background-color: var(--accent2);
    font-weight: 400;
    padding: 10px;
}

h3{
    font-family: 'Roboto Slab', serif;
    color: var(--font);
    padding: 10px;
}

h4{
    font-family: 'Roboto Slab', serif;
    background-color: var(--accent2);
    padding: .5rem;
    width: 100%;
    border: 1px solid var(--accent1);
    box-shadow: 0 0 10px var(--font);
}

hr {
    color: var(--back);
    box-shadow: 3px 3px 5px var(--font);
}

a {
    text-decoration: none;
    color: var(--font);
    padding: 10px;
}

img {
    max-width: 100%;
}

button:hover {
    cursor: pointer;
}

div {
    padding: .5rem;
    text-align: center;
}

section {
    padding: .5rem;
    border: 1px solid var(--accent1);
}

#warning, #warning section {
    margin: 0;
    background-color: var(--warning);
}

#warning button {
    color: var(--back);
    background-color: var(--accent1);
    padding: 5px;
    margin: auto 5px;
}

.center {
    text-align: center;
}
/************HEADER************/

.logo img {
    height: 150px;
    border-radius: 50% 50% 0 0;
    margin: 10px;
    border: 5px solid var(--accent1);
    outline: 5px solid var(--accent2);
}

header p{
    color: var(--back);
    text-shadow: 3px 3px 5px var(--font);
    font-size: .6rem;
} 

/***********NAVIGATION***********/

nav button{
    width: 100%;
    background-color: var(--accent1);
    color: var(--back);
    padding: 1rem;
    border: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--accent1);
    display: none;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--back);
}

.active, .active a {
    background-color: var(--accent3);
    color: var(--font);
}

nav ul li a:hover {
    background-color: var(--accent2);
    color: var(--font);
}

nav ul.open {
    display: block;
    width: 100%;
}

#hamButton span:nth-child(1) {
    display: block;
}

#hamButton span:nth-child(2) {
    display: none;
}
#hamButton span:nth-child(3) {
    display: none;
}

#hamButton.open span:nth-child(1) {
    display: none;
}

#hamButton.open span:nth-child(2) {
    display: block;
}

#hamButton.open span:nth-child(3) {
    display: inline-block;
}

/***********HOME PAGE*********/

.weatherHeader, #weatherGrid {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#current {
    padding: 0 0 10px 0;
}

#forecastContainer {
    margin-top: 0;
    padding: 0%;
    border: 1px solid var(--accent1);
}

#forecastGrid{
    border: none;
    padding: 0;
}

.forecast p:nth-child(3) {
    min-height: 60px;
}

.forecast {
    max-width: 96%;
    margin: 10px 10px;
}

.forecast h4 {
    font-size: .8rem;
    max-width: 50%;
}

#currentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#currentGrid section {
    border: none;
    margin: auto auto;
}

#current-desc {
    grid-column: 1;
}

#current .weather {
    grid-column: 2;
}

/*********************DIRECTORY**************/

.templeGrid p{
    font-size: .75rem;
    padding: 3px 3px 3px 10px;
}

.templeGrid h3 {
    font-size: .9rem;
    padding: 3px;
    padding-top: 10px;
}

.templeGrid h4{
    text-align: center;
}

.templeGrid section {
    margin-top: .5rem;
    text-align: left;
}

.templeGrid button {
    padding: .5rem;
    float: right;
}

/******************RESERVATIONS*************************/

form, form div {
    display: block;
    padding: 0 2%;
    text-align: center;
}

form label {
    text-align: left;
}

form fieldset {
    margin: 1.5rem 0;
    padding: 1rem;
}

form legend {
    background-color: var(--accent2);
    margin: 0 1rem;
    padding: .5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    border: 1px solid var(--accent1);
    text-align: left;
}

form label.top {
    display: block;
    padding: 1rem;
    font-size: 1rem;
}

.bedSelect label.radio{
    font-weight: 600;
}

.bedSelect p{
    font-size: .7rem;
}

form label.top input, form label.top textarea, form label.top select {
    display: block;
    font-size: 1.2rem;
}

form input.submitBtn {
    margin: 1rem;
    color: var(--back);
    background-color: var(--accent1);
    padding: 10px;
}

form .bedSelect {
    text-align: center;
}

form label.top input:required {
    border-left: 5px solid var(--warning);
}

form label.top input, form label.top select, form label.top textarea {
    width: 100%;
}

/***************SERVICES***********/

.buttonDiv a{
    color: var(--back);
    background-color: var(--accent1);
    padding: 10px;
}

.servicesBtns div{
    margin: 1rem;
}

#services img{
    padding: 10px;
}

.picSect {
    display: none;
}

.serviceList, .amenitiesList, .intro h4 {
    margin-top: 1rem;
}


/************FOOTER***************/

footer p, footer a {
    color: var(--back);
    font-size: .7rem;
}

footer h3{
    color: var(--back)
}

footer img{
    width: 50px;
}